{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tags - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'tag_css.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li>
          <a href="create.html">Generate a tag</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="recipe-grid">
    {% for tag in tags %}
    <div class="recipe-card">
      <h2 class="recipe-card-title">
        <a href="detail.html">{{ tag.name }}</a>
      </h2>
    </div>
    {% endfor %}
  </main>
</body>

</html>